// .home1 {
//   .image-container {
//     position: relative;
//     overflow: hidden;
    
//     top: 0;

//     .background-image {
//       width: 100%;
//       height: auto;
//       display: block;
//     }

//     .home1-btn {
//       position: absolute;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 100%;
//       // height: 100%;
//      bottom: 5%;
//       left: 0;

//       button {
//         width: 225px;
//         height: 62px;
//         opacity: 1;
//         font-family: Raleway, sans-serif;
//         font-size: 26.9px;
//         font-weight: 500;
//         line-height: 52.11px;
//         letter-spacing: 0.1px;
//         text-align: center;
//         border: 1px solid black;
//         border-radius: 50px;
//         padding: 0.2em;
//         background-color: #ffffffd7; // Change this to your desired color // Change or remove if you have custom styles
//         cursor: pointer;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .home1-btn button {
//     width: 180px;
//     height: 50px;
//     font-size: 20px;
//   }
// }

// @media (max-width: 480px) {
//   .home1-btn button {
//     width: 150px;
//     height: 40px;
//     font-size: 18px;
//   }
// }
.home1 {
  .image-container {
    overflow: hidden;
    top: 0;

    .background-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .home1-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      bottom: -13%;
      left: 0;
      z-index: 10; // Ensure button is above other content

      button {
        width: 255px;
        height: 72px;
        opacity: 1;
        font-family: Raleway, sans-serif;
        font-size: 26.9px;
        font-weight: 600;
        line-height: 52.11px;
        letter-spacing: 0.1px;
        text-align: center;
        background-color: transparent; // Set to transparent
        border: 2px solid black;
        border-radius: 50px;
        padding: 0.2em;
        cursor: pointer;
        z-index: 10; // Ensure button text is above background
      }
    }
  }
}

@media (max-width: 768px) {
  .home1-btn button {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .home1-btn button {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}
